*credentials.py
*process_Global_NCD_nifH.py
*.pyc
*.log
*.zip
*.txt
*.vscode/
*.pickle
ingest/error
ingest/api_checks.py
ingest/post_ingest.py
ingest/geckodriver.log
*geckodriver.log*
*__pycache__
*error
*keyword_check.py
process/data_only
.listing
*_continuous.py
